.addButton {
  composes: accent from "@styles/shared.css";
}

.avatar {
  composes: avatar from "@styles/shared.css";
  --size: 2.5em;
}

.searchWrapper {
  composes: composedInput from "@styles/shared.css";
}

.list {
  composes: scrollable from "@styles/shared.css";
}

.menu {
  min-height: 0;
  gap: var(--spacing);
  display: flex;
  flex-direction: column;

  .heading {
    gap: var(--spacing);
    display: flex;
    align-items: center;
  }

  .placeholderText {
    text-align: center;
    translate: 0 var(--spacing);
  }

  .subHeading {
    font-size: 0.85rem;
    color: var(--font-color-muted);
  }

  .searchWrapper {
    padding-inline: var(--spacing);
    .icon {
      height: 1.15em;
      user-select: none;
      filter: brightness(0.5);
    }

    .search {
      height: 1.15em;
    }
  }

  .list {
    margin: var(--neg-half-spacing) var(--neg-half-spacing) var(--neg-spacing);
    padding: 0 var(--half-spacing) var(--half-spacing);
    min-height: 0;
    max-height: 100%;

    .entry {
      width: stretch;
      margin-inline: var(--neg-half-spacing);
      padding-inline: var(--half-spacing);
      gap: var(--spacing);
      display: flex;
      align-items: center;

      .name {
        flex-grow: 1;
      }

      .addIcon {
        box-sizing: content-box;
        padding: 0.15em;
        height: 1.15em;
        border-radius: 50%;
        background-color: var(--accent-color);
      }
    }
  }
}
