.menu {
  composes: scrollable from "@styles/shared.css";
}

.avatar {
  composes: avatar from "@styles/shared.css";
  --size: 8em;
}

.loading {
  composes: loading from "@styles/shared.css";
}

.name,
.description {
  composes: input from "@styles/shared.css";
}

.menu {
  height: 100%;
  padding: var(--spacing);
  gap: var(--spacing);
  display: flex;
  flex-direction: column;

  .heading {
    gap: var(--spacing);
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .avatar {
    flex-shrink: 0;
    align-self: center;
  }

  .username {
    margin-top: var(--neg-half-spacing);
    font-size: 0.75rem;
    align-self: center;
  }

  .name {
    font-size: 1.15rem;
  }

  .statusHeading {
    margin-block: var(--half-spacing) var(--neg-half-spacing);
    font-size: 0.85rem;
    color: var(--font-color-muted);
  }

  .nameWrapper,
  .descriptionWrapper {
    margin-block: calc(-1 * var(--quarter-spacing));
    gap: var(--spacing);
    display: flex;
    align-items: center;

    .editButton {
      flex: 0 0 1.15em;
    }

    .name {
      text-align: center;
    }

    .description {
      line-height: 1.25;
      border-radius: var(--half-spacing);
    }

    .name,
    .description {
      padding-block: var(--quarter-spacing);
      padding-inline: var(--half-spacing);
      color: inherit;
      background-color: transparent;
      cursor: text;

      &:not(:disabled) {
        background-color: var(--input-bg-color);
      }
    }

    .description {
      margin-left: var(--neg-half-spacing);
      flex-grow: 1;
      field-sizing: content;
      min-height: max-content;
    }
  }

  .tabs {
    flex-basis: 300px;
    flex-shrink: 0;
  }
}

.addMembers {
  height: 90vh;
  max-width: 400px;
  padding: var(--spacing);
  border-radius: var(--spacing);
}
