.list {
  composes: scrollable from "../AsideStyles.module.css";
}

.subheading {
  margin-block: var(--half-spacing);
  font-size: 0.85rem;
  color: var(--font-color-muted);
}

.placeholderText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tag {
  font-size: 0.85rem;
}

.separator {
  border: var(--soft-border);
}

.list {
  margin: var(--neg-half-spacing);
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .entry {
    padding: var(--half-spacing);
    gap: var(--spacing);
    display: flex;
    align-items: center;

    .avatar {
      --size: 2.5em;
    }

    .name {
      flex-grow: 1;
    }

    .checkbox {
      width: 1em;
    }
  }
}

.button {
  font-size: 2rem;
  align-self: center;
}
