.textarea {
  composes: input from "@styles/shared.css";
}

.field {
  gap: var(--spacing);
  display: flex;
  align-items: center;

  .button {
    min-width: 1.5em;
    height: 1.5em;
  }

  .textarea {
    flex-grow: 1;
    field-sizing: content;
    min-height: max-content;
    padding: 0;
    line-height: 1.5;
    text-align: center;

    &:not(.editing) {
      background-color: transparent;
    }

    &:disabled {
      color: inherit;
    }
  }
}
