.button {
  margin: calc(-1 * 0.25em);
  padding: 0.25em;
  width: fit-content;
  height: fit-content;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  .img {
    width: 1em;
    height: 1em;
  }
}
