.dialog {
  height: fit-content;
  overflow: hidden;
  border: none;
  background-color: transparent;
  translate: calc(50vw - 50%) calc(50vh - 50%);
  animation: expand 250ms ease forwards;

  &::backdrop {
    background-color: rgb(0 0 0 / 0.5);
    pointer-events: none; /* prevents backdrop from registering events so does not trigger closing*/
    opacity: var(--backdrop-opacity);
    transition: opacity 250ms;
  }

  &.closing {
    animation: collapse 250ms ease forwards;
  }
}

@keyframes expand {
  from {
    opacity: 0;
    scale: 0.75;
    --backdrop-opacity: 0;
  }

  to {
    opacity: 1;
    scale: 1;
    --backdrop-opacity: 1;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    scale: 1;
    --backdrop-opacity: 1;
  }

  to {
    opacity: 0;
    scale: 0.75;
    --backdrop-opacity: 0;
  }
}
