.banner {
  gap: 1em;
  display: flex;
  align-items: center;
  font-size: 1.25rem;

  .avatar {
    height: 3.5em;
    width: 3.5em;
    cursor: pointer;
  }

  .name {
    flex-grow: 1;
    cursor: pointer;
  }
}
