.active {
  composes: accent from "@styles/shared.css";
}

.box {
  --textbox-spacing: var(--half-spacing);
  --button-size: 40px;

  padding: var(--textbox-spacing);
  gap: var(--textbox-spacing);
  display: flex;
  align-items: flex-end;
  border-radius: calc(var(--button-size) / 2 + var(--textbox-spacing) / 2);
  background-color: #3b3b3b;

  .input {
    flex-grow: 1;
    align-self: center;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    box-sizing: border-box;
    overflow-y: auto;
    line-height: 1.5;
    padding: 0;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #666666;
      border-radius: 4px;
    }
  }

  .button {
    height: var(--button-size);
    width: var(--button-size);
    font-size: 1.25rem;

    &.send {
      img {
        filter: invert(1);
      }

      &.active {
        margin: calc(-1 * 0.25em);
      }
    }
  }
}
