.requests {
  composes: scrollable from "@styles/shared.css";
}

.requests {
  margin: 0 var(--neg-spacing) var(--neg-spacing);
  padding: 0 var(--spacing) var(--spacing);
  gap: var(--spacing);
  display: flex;
  flex-direction: column;

  .requestCount {
    margin-top: var(--half-spacing);
    font-size: 0.85rem;
    color: var(--font-color-muted);
  }

  .list {
    gap: var(--spacing);
    display: flex;
    flex-direction: column;

    .entry {
      gap: var(--spacing);
      display: flex;
      align-items: center;

      .avatar {
        height: 2.5em;
        width: 2.5em;
      }
    }
  }
}
