.entry {
  border-radius: 5px;
  padding: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry {
  display: grid;
  grid-template:
    "avatar name date"
    "avatar text text" / max-content 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em 0.5em;

  .avatar {
    grid-area: avatar;
  }
  .name {
    grid-area: name;
  }
  .date {
    grid-area: date;
  }
  .text {
    grid-area: text;
  }
}

.avatar {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.date {
  margin-left: auto;
  font-size: 0.8rem;
}

.prepend {
  font-style: italic;
  color: #bbbb;
}

.entry {
  transition: background-color 150ms;
}
.entry:hover {
  background-color: #4444;
}
