.entry {
  padding: 0.25em;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.avatar {
  width: 36px;
  aspect-ratio: 1;
}

.name {
  flex-grow: 1;
}

.button {
  width: 24px;
  aspect-ratio: 1;
}

.entry {
  border-radius: 5px;
}

.avatar {
  border-radius: 50%;
}

.button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #5555;

  transition: background-color 250ms;
  &:hover {
    background-color: #9999;
  }
}

.entry {
  transition: background-color 250ms;
  &:hover {
    background-color: #4444;
  }
}
