.list {
  composes: scrollable from "../AsideStyles.module.css";
}

.menu {
  padding: var(--spacing);
  padding-bottom: 0;
  gap: var(--spacing);
  display: flex;
  flex-direction: column;

  .flex {
    gap: var(--spacing);
    display: flex;
    align-items: center;

    .title {
      flex-grow: 1;
      font-size: 1.5rem;
      line-height: 1;
    }
  }

  .list {
    margin: var(--neg-half-spacing);
    display: flex;
    flex-direction: column;
  }
}
